@tailwind base;
@tailwind components;
@tailwind utilities;

.page-link {
    position: relative;
    display: block;
    color: #000;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    padding: .375rem .75rem;
    border-radius: 5px;
    font-weight: 600;
}

.page-item.active-page .page-link {
    z-index: 3;
    color: #fff;
    background-color: #17A2B8;
    border-color: #17A2B8;
}